.letter{
  color: $yellow;
}

//lettertype
h1, h2, h3, h4, h5, h6 {
  font-family: $ff-kopstukken;

  p {
    font-family: $ff-paragrafen;
  }
}

.contact{
  .container {
    background-color: $green;
  }
}

